<%= render partial: '/questions/partials/js_helpers' %>

<h1> Questions</h1>

<div class='row questions-container'>
  <div class='row instructions five columns'>
      <div id='points'></div>
    <% @questions.order(:id).each_with_index do |question, index| %>
      <div data-id='<%= question.id %>' data-index='<%= index + 1 %>' class='question <%= "#{'hidden' if index != 0}" %>'>
        <%= question.content %>
        </br>
        <button class='button'>
          Submit
        </button>
      </div>
    <% end %>
    <input class='input seven columns'/>
  </div>
  
</div>
 
<div id="progressbar"></div>
