%h1 Subtopics

- @subtopics.each do |subtopic| 
  = link_to questions_path+"?subtopic_name=#{subtopic.name}" do
    .subtopic{class: "#{'finished' if current_user.subtopics.include? subtopic}"}
      = subtopic.name
      Questions:
      = subtopic.questions.length
    / - subtopic.questions.each do |question|
    /   = question.content
  - if current_user && current_user.admin?
    .admin
      = link_to('edit', edit_subtopic_path(subtopic), class:'edit')
      = link_to('delete', subtopic_path(subtopic), class:'delete', method: :delete, confirm: 'Are you sure you want to delete this subtopic?')
  %br
  %br
  %br
  %br