<!DOCTYPE html>
<html>
<head>
  <title>Calcacademy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar'>
    <div id='logo'><a href="/">calcacademy</a></div>
    <div id='navigation'>
      <% if !current_user %> 
        <%= link_to 'login', new_user_session_path, method: :get %>
        <a href="/users/sign_up">sign-up</a>
      <% end %>
      <div id='main-links'>
        <a href="/subjects" id='learn'>learn</a>
        <% if current_user %> 
          <%= link_to 'progress', user_path(current_user), :id => 'user-progress' %>
          <%= link_to 'logout', destroy_user_session_path, method: :delete%>
        <% end %>
        <a href="mailto:belcortes@gmail.com" id='contact'>contact</a>
        <% if current_user && current_user.admin? %>
          <%= link_to 'subject', new_subject_path, :id => 'user-progress' %>
          <%= link_to 'topic', new_topic_path, :id => 'user-progress' %>
          <%= link_to 'subtopic', new_subtopic_path, :id => 'user-progress' %>
          <%= link_to 'question', new_question_path, :id => 'user-progress' %>
          <%= link_to 'answer', new_answer_path, :id => 'user-progress' %>
        <% end %>
        <% if current_user %> 
          <span id='user-email'>
            <%= current_user.email %>
            <%= current_user.score %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <br>

        <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


  <div id='main-container'>
    <%= yield %>
  </div>


</body>
</html>
